src/main/resources/xsd/mazeCom.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">

    <xs:simpleType name="MazeComMessagetype" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOGIN" />
            <xs:enumeration value="LOGINREPLY" />
            <xs:enumeration value="AWAITMOVE" />
            <xs:enumeration value="MOVE" />
            <xs:enumeration value="MOVEINFO" />
            <!-- Nur fuer Manager-Rolle -->
            <xs:enumeration value="GAMESTATUS" />
            <xs:enumeration value="CONTROLSERVER" />
            <!-- Statusantworten -->
            <xs:enumeration value="ACCEPT" />
            <xs:enumeration value="WIN" />
            <xs:enumeration value="DISCONNECT" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClientRole" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLAYER" />
            <xs:enumeration value="MANAGER" />
            <xs:enumeration value="SPECTATOR" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Treasure" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Start01" />
            <xs:enumeration value="Start02" />
            <xs:enumeration value="Start03" />
            <xs:enumeration value="Start04" />
            <xs:enumeration value="sym01" />
            <xs:enumeration value="sym02" />
            <xs:enumeration value="sym03" />
            <xs:enumeration value="sym04" />
            <xs:enumeration value="sym05" />
            <xs:enumeration value="sym06" />
            <xs:enumeration value="sym07" />
            <xs:enumeration value="sym08" />
            <xs:enumeration value="sym09" />
            <xs:enumeration value="sym10" />
            <xs:enumeration value="sym11" />
            <xs:enumeration value="sym12" />
            <xs:enumeration value="sym13" />
            <xs:enumeration value="sym14" />
            <xs:enumeration value="sym15" />
            <xs:enumeration value="sym16" />
            <xs:enumeration value="sym17" />
            <xs:enumeration value="sym18" />
            <xs:enumeration value="sym19" />
            <xs:enumeration value="sym20" />
            <xs:enumeration value="sym21" />
            <xs:enumeration value="sym22" />
            <xs:enumeration value="sym23" />
            <xs:enumeration value="sym24" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Errortype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOERROR" />
            <xs:enumeration value="ERROR" />
            <xs:enumeration value="AWAIT_LOGIN" />
            <xs:enumeration value="AWAIT_MOVE" />
            <xs:enumeration value="ILLEGAL_MOVE" />
            <xs:enumeration value="TIMEOUT" />
            <xs:enumeration value="TOO_MANY_TRIES" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CardData">
        <xs:sequence>
            <xs:element name="openings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="top" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                        <xs:element name="bottom" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                        <xs:element name="left" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                        <xs:element name="right" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- Mehrere Spieler pro Feld erlaubt -->
            <xs:element name="pin">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="playerID" type="xs:int" minOccurs="0" maxOccurs="4" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="treasure" type="Treasure" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BoardData">
        <xs:sequence>
            <xs:element name="row" minOccurs="7" maxOccurs="7">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="col" type="CardData" minOccurs="7" maxOccurs="7" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shiftCard" type="CardData" />
            <xs:element name="forbidden" type="PositionData" minOccurs="0" />
            <xs:element name="foundTreasures" type="Treasure" minOccurs="0" maxOccurs="24" />
        </xs:sequence>
    </xs:complexType>

    <!-- Start bei 0/0 -->
    <xs:complexType name="PositionData">
        <xs:sequence>
            <xs:element name="row" type="xs:int" />
            <xs:element name="col" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StatisticData">
        <xs:sequence>
            <xs:element name="foundTreasures" type="xs:int" />
            <xs:element name="movesDone" type="xs:int" />
            <xs:element name="longestFailMoves" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="MazeCom">
        <xs:complexType>
            <xs:choice>
                <xs:element name="LoginMessage" type="LoginMessageData" />
                <xs:element name="LoginReplyMessage" type="LoginReplyMessageData" />
                <xs:element name="AwaitMoveMessage" type="AwaitMoveMessageData" />
                <xs:element name="MoveMessage" type="MoveMessageData" />
                <xs:element name="MoveInfoMessage" type="MoveInfoData" />
                <xs:element name="GameStatusMessage" type="GameStatusData" />
                <xs:element name="ControlServerMessage" type="ControlServerData" />
                <xs:element name="AcceptMessage" type="AcceptMessageData" />
                <xs:element name="WinMessage" type="WinMessageData" />
                <xs:element name="DisconnectMessage" type="DisconnectMessageData" />
            </xs:choice>
            <xs:attribute name="messagetype" type="MazeComMessagetype" use="required" />
            <xs:attribute name="id" type="xs:int" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="LoginMessageData">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="role" type="ClientRole" default="PLAYER" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LoginReplyMessageData">
        <xs:sequence>
            <xs:element name="newID" type="xs:int" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AwaitMoveMessageData">
        <xs:sequence>
            <xs:element name="board" type="BoardData" />
            <xs:element name="treasuresToGo" type="TreasuresToGoData" minOccurs="1" maxOccurs="4" />
            <xs:element name="treasureToFindNext" type="Treasure" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TreasuresToGoData">
        <xs:sequence>
            <xs:element name="player" type="xs:int" />
            <xs:element name="treasures" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MoveMessageData">
        <xs:sequence>
            <!-- Wo die Karte hin soll -->
            <xs:element name="shiftPosition" type="PositionData" minOccurs="1" maxOccurs="1" />
            <!-- Wo der Pin hin soll -->
            <xs:element name="newPinPos" type="PositionData" minOccurs="1" maxOccurs="1" />
            <!-- Konkrete Karte (auch ausgerichtet) -->
            <xs:element name="shiftCard" type="CardData" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GameStatusData">
        <xs:sequence>
            <xs:element name="boardAfterMove" type="BoardData" minOccurs="1" maxOccurs="1" />
            <xs:element name="treasureReached" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <xs:element name="sendMove" type="MoveMessageData" minOccurs="1" maxOccurs="1" />
            <xs:element name="playerStatus" minOccurs="1" maxOccurs="4">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="playerID" type="xs:int" />
                        <xs:element name="playerName" type="xs:string" />
                        <xs:element name="currentTreasure" type="Treasure" />
                        <xs:element name="treasures" type="Treasure" minOccurs="1" maxOccurs="25" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="foundTreasures" type="Treasure" minOccurs="0" maxOccurs="24" />
        </xs:sequence>
        <xs:attribute name="playerId" type="xs:int" use="required" />
    </xs:complexType>

    <xs:complexType name="MoveInfoData">
        <xs:sequence>
            <xs:element name="boardAfterMove" type="BoardData" minOccurs="1" maxOccurs="1" />
            <xs:element name="treasureReached" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <xs:element name="sendMove" type="MoveMessageData" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="playerId" type="xs:int" use="required" />
    </xs:complexType>

    <xs:complexType name="ControlServerData">
        <xs:sequence>
            <xs:element name="playerCount" type="xs:int" minOccurs="0" maxOccurs="1" />
            <xs:element name="command" minOccurs="1" maxOccurs="1">
                <xs:simpleType final="restriction">
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="START" />
                        <xs:enumeration value="STOP" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AcceptMessageData">
        <xs:sequence>
            <xs:element name="accept" type="xs:boolean" />
            <xs:element name="errortypeCode" type="Errortype" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WinMessageData">
        <xs:sequence>
            <xs:element name="board" type="BoardData" />
            <xs:element name="statistics" type="StatisticData" minOccurs="1" maxOccurs="4" />
            <xs:element name="winner">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="id" type="xs:int" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DisconnectMessageData">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="errortypeCode" type="Errortype" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>